@{
  Layout = "_Layout";
}

@using PierresTreats.Models
@model PierresTreats.Models.Treat

@if (User.IsInRole("admin"))
{
  <div class="row">
    <div class="col-6" style="text-align: center;">
      <h2 style="text-align: center;">@Model.Name</h2>
    </div>
    <div class="col-3" style="text-align: center;">
      <a href="/treats/@Model.TreatId/edit" class="btn btn-warning w-50">Edit</a>
    </div>
    <div class="col-3" style="text-align: center;">
      <a href="/treats/@Model.TreatId/delete" class="btn btn-danger w-50">Delete</a>
    </div>
  </div>
  <hr>
}

@if (@Model.JoinEntities.Count == 0)
{
  <p>@Model.Name does not have any flavors yet!</p>
}
else
{
  <h4>@Model.Name has the following flavors:</h4>
  <ul>
  @foreach (TreatFlavor join in Model.JoinEntities)
    {
      <li>@Html.ActionLink($"{@join.Flavor.Name}", "Details", "Flavors", new {id = @join.Flavor.FlavorId})</li>
    }
  </ul>
}

@if (User.IsInRole("admin"))
{
  <p>@Html.ActionLink("Add a flavor to treat!", "AddFlavor", new { id = Model.TreatId })</p>
}