@{
  Layout = "_Layout";
}

@using PierresTreats.Models
@model PierresTreats.Models.Flavor

@if (User.IsInRole("admin"))
{
  <div class="row">
    <div class="col-6" style="text-align: center;">
      <h2 style="text-align: center;">@Model.Name</h2>
    </div>
    <div class="col-3" style="text-align: center;">
      <a href="/flavors/@Model.FlavorId/edit" class="btn btn-warning w-50">Edit</a>
    </div>
    <div class="col-3" style="text-align: center;">
      <a href="/flavors/@Model.FlavorId/delete" class="btn btn-danger w-50">Delete</a>
    </div>
  </div>
  <hr>
}

@if (@Model.JoinEntities.Count == 0)
{
  <p>@Model.Name does not have any treats yet!</p>
}
else
{
  <h4>@Model.Name has the following treats:</h4>
  <ul>
    @foreach (TreatFlavor join in Model.JoinEntities)
    {
      <li>@Html.ActionLink($"{@join.Treat.Name}", "Details", "Treats", new {id = @join.Treat.TreatId})</li>
    }
  </ul>
}

@if (User.IsInRole("admin"))
{
  <p>@Html.ActionLink("Add a treat to flavor!", "AddTreat", new { id = Model.FlavorId })</p>
}